
footer {
	
	.footer__container {
		border-top:1px rgba(255,0,0,0.5) solid;
		padding-top:30px;
		padding-bottom:30px;
		display:flex;
		flex-direction:row;
		align-items:stretch;
		flex-wrap:wrap;
		justify-content:space-between;
		
		.contact-item {
			display:flex;
			flex-direction:row;
			justify-content:flex-end;
			align-items: center;
			flex-wrap:wrap;
			
			@media @media-max-991 {
				max-width:100%;
				justify-content:space-around;
				padding:0px 15px 0;
				#site.w(80%);
				
				.item {
					text-align:center;
					#site.w(auto);
				}
			}
			
			@media @media-max-811 {
				padding:25px 15px 0;
				#site.w(100%);
				
			}
			
			@media @media-max-767 {
				max-width:100%;
				justify-content:space-around;
				padding:0 8px;
				#site.w(100%);
				
				.item {
					text-align:center;
					#site.w(auto);
				}
			}
			
			@media @media-max-567 {
				.item {
					#site.w(100%);
					
					&:nth-child(2), &:nth-child(3) {
						#site.w(50%);
					}
				}
			}
			
			@media @media-max-399 {
				.item {
					#site.w(100%);
				}
			}
		}
		
		@media @media-max-991 {
			& > .item {
				max-width:100%;
				text-align:center;
				#site.w(20%);
			}
		}
		
		@media @media-max-811 {
			& > .item {
				margin-bottom:15px;
				#site.w(100%);
			}
		}
		
		@media @media-max-767 {
			.item {
				max-width:100%;
				text-align:center;
				margin-bottom:15px;
				#site.w(100%);
			}
		}
	}
	
	.__padding__left {
		padding-left:45px;
		
		a, span {
			#site.color(#000000);
			#site.bold(700);
			#site.size(14px);
			#site.ff('Open Sans');
		}
		
		a:hover {
			#site.underline();
		}
		
		.__semi-black {
			#site.color(#767676);
			#site.bold(400);
		}
		
		@media @media-max-767 {
			padding-left:0px;
			#site.w(33.33333333%);
			
			&:nth-child(2), &:nth-child(3) {
				#site.w(33.33333333%);
			}
			
		}
		@media @media-max-567 {
			#site.w(100%);
			
			&:nth-child(2), &:nth-child(3) {
				#site.w(50%);
			}
			
		}
		@media @media-max-399 {
			#site.w(100%);
			
			&:nth-child(2), &:nth-child(3) {
				#site.w(100%);
			}
		}
		
	}
	
}
header {
	position:relative;
	//#site.size(18px);
	.calcFontSize(13, 18, 320, 1920);
	
	.header__container {
		padding-top:30px;
		padding-bottom:30px;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:stretch;
		
		@media @media-max-1199 {
			
			.item {
				#site.w(25%);
				
				&:last-child {
					#site.w(auto);
				}
			}
		}
		
		@media @media-max-991 {
			flex-wrap:wrap;
			
			.item:last-child {
				margin-top:20px;
				text-align:center;
				#site.w(100%);
			}
		}
		
		@media @media-max-767 {
			max-width:100%;
			
			.item {
				margin-top:0px;
				#site.w(100%);
				
				&:last-child {
					text-align:center;
				}
			}
		}
		
		@media @media-max-767 {
			.item.__l-border__left {
				#site.w(50%);
			}
		}
		@media @media-max-399 {
			.item.__l-border__left {
				#site.w(100%);
			}
		}
	}
	
	.send-project-btn {
		margin-left:8px;
		display:inline-block;
		padding:15px 24px;
		border:1px rgba(255, 0, 0, 0.5) solid;
		text-align:center;
		transition:all @trans-speed ease;
		#site.color(rgba(255, 0, 0, 0.5));
		#site.bg(transparent);
		#site.bold(400);
		#site.ff('Open Sans');
		
		@media @media-max-480 {
			margin-left:0px;
			margin-top:15px;
			padding:15px;
		}
		
		&:hover {
			#site.color(rgba(255, 255, 255, 1));
			#site.bg(rgba(255, 0, 0, 0.5));
		}
	}
	
	.__l-border__left {
		
		a {
			border:1px transparent solid;
			border-left:1px #ff0000 solid;
			padding:15px 24px;
			#site.color(#000000);
			#site.lh(48px);
			#site.ff('Open Sans');
			
			@media @media-max-1199 {
				padding:15px 5px;
				border-left:1px transparent solid;
				//#site.size(16px);
			}
			
			&:hover {
				#site.underline();
			}
			
		}
		
		@media @media-max-1199 {
			padding-top:15px;
			text-align:center;
		}
		
		@media @media-max-1024 {
			padding-top:15px;
		}
		
		@media @media-max-991 {
			a {
				//#site.size(16px);
			}
		}
		
		@media @media-max-767 {
			padding-top:0px;
			
			a {
				//#site.size(14px);
			}
		}
	}
	
}
body.modalled {
	overflow:hidden;
}


.content-modal {
	position:fixed;
	display:none;
	top:0;
	left:0;
	#site.w(100%);
	#site.h(100%);
	#site.z(15);
	
	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		#site.w(100%);
		#site.h(100%);
		#site.bg(rgba(0,0,0,0.5));
	}
	
	body.modalled &.active {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	
	.white-block {
		position:relative;
		max-width:1070px;
		overflow:hidden;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		#site.bg(rgba(255,255,255,1));
		#site.w(100%);
		#site.h(75%);
		
		&.small {
			max-width:800px;
			min-height:60%;
			#site.h(auto);
		}
		
		@media @media-max-1199 {
			#site.h(90%);
		}
		
		@media @media-max-767 {
			#site.h(90%);
		}
		
		.close-btn {
			position:absolute;
			top:24px;
			right:24px;
			display:inline-block;
			#site.w(16px);
			#site.h(16px);
			//#site.bg(rgba(0,0,0,1));
			#site.bpos();
			#site.bsize(cover);
			#site.brep();
			#site.bi('common/close-btn.png');
			
			@media @media-max-767 {
				top:12px;
				right:12px;
			}
		}
		
		.modal-content {
			overflow:hidden;
			padding:45px 100px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			#site.w(100%);
			#site.h(100%);
			
			@media @media-max-991 {
				padding:70px 40px 35px;
			}
			
			@media @media-max-767 {
				padding:50px 25px 10px;
			}
			
			& > .b__ugc__html {
				height:100% !important;
				#site.w(100%);
			}
		}
	}
	
}
.b {
	
}
.e {
	
}

.site-logo {
	display:inline-block;
	max-width:100%;
	#site.bi('common/site-logo.png');
	#site.brep();
	#site.bsize(contain);
	#site.bpos();
	#site.w(223px);
	#site.h(61px);
	
	@media @media-max-767 {
		display:block;
		margin:0 auto;
		#site.w(172px);
		#site.h(64px);
	}
}

.__bold {
	#site.bold(700);
}

.__logo-item {
	flex-basis:45%;
	
	@media @media-max-767 {
		flex-basis:100%;
	}
}
.b-partners {
	padding:135px 0 150px;
	
	@media @media-max-767 {
		padding:70px 0;
	}
	
	.hidden-container {
		opacity:0;
		height:0;
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		align-items:stretch;
		overflow:hidden;
	}
	
	.title {
		margin-bottom:80px;
		.calcFontSize(28, 72, 320, 1920);
		//#site.size(72px);
		#site.color(#000000);
		#site.ff('PfDinTextCompPro');
		
		@media @media-max-767 {
			margin-bottom:40px;
			#site.size(48px);
		}
		
	}
	
	.logo-carousel {
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:stretch;
		overflow:hidden;
		
		.control {
			
			&.left {
				order:0;
				
				a {
					#site.bi('b-partners/control-left.png');
				}
			}
			&.right {
				order:10;
				
				a {
					#site.bi('b-partners/control-right.png');
				}
			}
			
			a {
				display:inline-block;
				min-width:11px;
				#site.color(#ff0000);
				#site.w(100%);
				#site.h(100%);
				#site.lh(64px);
				#site.bpos();
				#site.brep();
				#site.bsize(contain);
			}
		}
		
		.viewer {
			order:5;
			overflow:hidden;
			#site.w(90%);
		}
		
		.logo-container {
			//display:flex;
			//flex-direction:row;
			//justify-content:space-around;
			//align-items:stretch;
			//transform-origin:0 0;
			//transition:all @trans-speed * 2 ease;
			
			.owl-item {
				.item {
					text-align:center;
					border-right:1px transparent solid;
					padding:0 24px;
					#site.lh(64px);
					
					.img-cont {
						display:inline-block;
						vertical-align: middle;
					}
					img {
						max-height:64px;
						vertical-align: middle;
						//width:auto;
						max-width:200px;
					}
					
				}
				&.active {
					.item {
						border-right:1px #ff0000 solid;
					}
				}
				&.active.__no-border {
					.item {
						border-right:1px transparent solid;
					}
				}
			}
		}
		
	}
	
}
.b-projects {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:stretch;
	flex-wrap:wrap;
}
.b__container {
	max-width:1620px;
	margin:0 auto;
	
	&__padding {
		padding-left:15px;
		padding-right:15px;
		
		/*
		@media @media-max-767 {
			padding-left:15px;
			padding-right:15px;
		}
		*/
		
	}
}

.b__ugc {
	
	&__html {
		#site.size(18px);
		#site.ff('Open Sans');
		
		* {
			max-width:100%;
			vertical-align:baseline;
			border-collapse:collapse;
			cursor:auto;
			#site.ff(inherit);
		}
		
		img, iframe, embed, video {
			display: block;
			max-width:100% !important;
			margin:60px auto;
			border:none;
		}
		
		p {
			margin: 0 0 1.5em 0;
			text-align:justify;
			#site.lh(1.5em);
			
			&:last-child {
				margin-bottom:0;
			}
		}
		
		a {
			#site.underline();
			#site.bold();
			#site.color(@c-main-color);
			
			&:hover {
				#site.underline(none);
				#site.color(@c-main-932ea8);
			}
		}
		
		
		ul, ol {
			.mp0();
			margin:1.5em 0;
			
			li {
				.mp0();
				margin: .5em 0 .5em 1.2em;
				
				a {
					#site.underline();
					
					&:hover {
						#site.underline(none);
					}
				}
			}
		}
		
		h1,h2,h3,h4,h5,h6 {
			//margin: 1em 0;
			//#site.bold();
			
			.desktop & a:hover, {
				#site.underline();
			}
		}
		h1 {
			margin-bottom:60px;
			#site.size(72px);
			#site.ff('PfDinTextCompPro');
		}
		h2 {
			#site.size(56px);
		}
		h3 {
			margin-bottom:26px;
			#site.size(48px);
			#site.ff('PfDinTextCompPro');
		}
		h4 {
			margin-bottom:20px;
			#site.size(18px);
			#site.ff('Open Sans');
		}
		
		
		.table-responsive {
			min-height:.01%;
			overflow-x:auto;
			margin-top:2em;
			margin-bottom:2em;
			
			@media @media-size-xs {
				overflow-y:hidden;
				max-width:100%;
			}
			
			@media @media-size-sm {
				overflow-y:hidden;
				max-width:100%;
			}
			
			@media @media-size-md {
				overflow-y:hidden;
				max-width:100%;
			}
			
			table {
				margin-top:0;
				margin-bottom:5px;
			}
		}
		
		table {
			border-collapse:collapse;
			border-spacing:0;
			margin-top:2em;
			margin-bottom:2em;
			max-width:100%;
			#site.w(100%);
			
			tr {
				
			}
			
			thead {
				
			}
			
			tfoot {
				
			}
			
			tbody {
				tr {
					&:nth-child(even) {
						
					}
					&:nth-child(odd) {
						#site.bg(#f6f6f6);
					}
				}
			}
			
			td, th {
				text-align:center;
				padding:0.3em 0.4em;
				white-space:nowrap;
				border:1px solid #e1e1e1;
			}
			
		}
		
	}
	
}

.input-block {
	margin:20px 0 20px;
	#site.size(18px);
	
	&[data-required] {
		&[data-input-status="ok"], &[data-input-status="1"] {
			
			span.status {
				opacity:1;
				
				&:before {
					content:'√';
				}
				
			}
		}
	}
	
	::-webkit-input-placeholder {
		color:#999999;
	}
	:-moz-placeholder { /* Firefox 18- */
		color:#999999;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		color:#999999;
	}
	:-ms-input-placeholder {
		color:#999999;
	}
	
	label {
		display:block;
		margin-bottom:.35em;
		#site.size(18px);
		#site.ff('Open Sans');
	}
	
	span.status {
		opacity:0;
		margin-left:0.5em;
		#site.color(rgba(0,0,0,1));
	}
	
	span.help {
		float:right;
		#site.size(1em);
		#site.italic();
		#site.color(#cccccc);
		
		@media @media-size-xs {
			float:inherit;
			display:block;
			margin:0 0 0.2em;
			opacity:0.4;
		}
		
	}
	
	input, textarea, select {
		transition:all @trans-speed / 1.25 ease;
		display:block;
		border-radius:0px;
		border:1px rgba(0,0,0,0.4) solid;
		padding: .4em 1em;
		margin-left:auto;
		margin-right:auto;
		#site.ff('Open Sans');
		#site.size(18px);
		#site.bg(transparent);
		#site.w(100%);
		
		&[type="checkbox"], &[type="radio"] {
			display:inline-block;
			border:1px transparent solid;
			transform-origin: center center;
			transform: scale(1.25);
			#site.w(auto);
			
			&:focus {
				border:1px transparent solid;
				#site.bg(rgba(190,245,116,0.15));
			}
			
			.ios & {
				transform: scale(0.67);
				border:2px #7ba83f solid;
				vertical-align:middle;
				#site.bg(transparent);
				#site.color(#7ba83f);
				
				&:focus, &:active {
					border-color:#932ea8;
				}
			}
		}
		
		&:focus {
			outline:none;
			border-color:rgba(255,0,0,0.6);
			#site.bg(rgba(255,255,255,1));
		}
	}
	
	textarea {
		min-height:0;
		
		&:focus, &[data-state="inputed"] {
			min-height:172px;
		}
	}
	
	select[multiple] {
		min-height:256px;
		
		@media @media-size-xs {
			min-height:initial;
		}
		.android &, .ios & {
			min-height:initial;
		}
	}
	
}
.mCSB_scrollTools {
	.mCSB_draggerRail {
		background-color:rgba(255,0,0,1);
		#site.w(1px);
	}
	.mCSB_dragger {
		.mCSB_dragger_bar {
			background-color:rgba(255,255,255,1);
			border:1px rgba(255,0,0,1) solid;
			#site.w(12px);
		}
	}
}
.submit-block {
	margin:3em 0 2em;
	display:none;
	#site.size(18px);
	
	&[data-input-status="ok"], &[data-input-status="1"] {
		display:block;
	}
	
	span.help {
		opacity:0;
		display:none;
		//display:inline-block;
		margin-left:1.5em;
		transition:all @trans-speed / 1.25 ease;
		#site.size(18px);
		#site.italic();
		#site.color(#999999);
		
		@media @media-max-991 {
			& {
				display:none;
			}
		}
		
	}
	
	input[type="submit"] {
		.cleardefault();
		transition:all @trans-speed / 1.25 ease;
		display:inline-block;
		padding:.7em 1.2em;
		border-radius:0px;
		border:1px rgba(255, 0, 0, 0.5) solid;
		cursor:pointer;
		#site.size(1.75em);
		#site.bold();
		#site.uppercase();
		
		&:focus {
			outline:none;
		}
		
		&:hover {
			border-color:rgba(255, 0, 0, 0.5);
			#site.color(rgba(255, 255, 255, 1));
			#site.bg(rgba(255, 0, 0, 0.5));
			
			& + span.help {
				opacity:1;
			}
		}
		
		&, &[data-style="default"] {
			#site.color(rgba(255, 0, 0, 0.5));
			#site.bg(transparent);
		}
		
		&.__xs__fullwidth {
			#site.w(100%);
		}
	}
	
}
hr {
	border-color: #cccccc;
	border-top: 1px;
	margin:1.5em 0 !important;
}
.in-focus-project {
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	#site.color(#ffffff);
	#site.w(75%);
	//#site.bg(#ff0000);
	#site.bpos();
	#site.brep();
	#site.bsize(cover);
	#site.ff('Open Sans');
	#site.z(3);
	
	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		#site.w(100%);
		#site.h(100%);
		#site.z(1);
		#site.bg(rgba(0,0,0,0.35));
	}
	
	.cont {
		position:relative;
		/*
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		#site.h(100%);
		*/
		#site.z(2);
	}
	
	@media @media-max-1199 {
		padding-left:25px;
		padding-bottom:50px;
		#site.w(100%);
	}
	
	@media @media-max-767 {
		display:none;
	}
	
	.country-flag {
		position:absolute;
		top:95px;
		#site.z(2);
		
		&.empty-field {
			img {
				opacity:0;
			}
		}
		
		img {
			max-width:150px;
			max-height:150px;
			
			@media @media-max-1199 {
				max-height:100px;
			}
			
		}
		
		@media @media-max-1199 {
			right:25px;
			top:50px;
		}
	}
	
	.logo {
		margin-bottom:40px;
		margin-top:95px;
		
		&.empty-field {
			img {
				opacity:0;
			}
		}
		
		@media @media-max-1199 {
			margin-top:50px;
			max-height:110px;
		}
	}
	
	.type {
		margin-bottom:30px;
		//#site.size(20px);
		.calcFontSize(14, 20, 320, 1920);
		
		@media @media-max-1199 {
			margin-right:125px;
		}
	}
	
	.title {
		margin-bottom:30px;
		//#site.size(100px);
		.calcFontSize(32, 100, 320, 1920);
		#site.ff('PfDinTextCompPro');
		#site.bold(700);
		
		@media @media-max-1199 {
			margin-right:125px;
		}
	}
	
	.desc {
		margin-bottom:60px;
		margin-right:125px;
		#site.size(30px);
		
		@media @media-max-1199 {
			margin-right:60px;
		}
	}
	
	.more {
		a {
			display:inline-block;
			padding:16px 100px;
			border:1px #ff0000 solid;
			transition:all @trans-speed ease;
			#site.color(#ffffff);
			#site.size(18px);
			#site.bg(transparent);
			
			&:hover {
				border:1px #ffffff solid;
				#site.color(#ff0000);
				#site.bg(#ffffff);
			}
		}
	}
	
	.next-project {
		position:absolute;
		top:0;
		right:60px;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:stretch;
		#site.h(100%);
		#site.z(3);
		
		@media @media-max-1199 {
			right:25px;
		}
		
		a {
			display:inline-block;
			#site.w(47px);
			#site.h(86px);
			#site.bi('b-projects/next-project-btn.png')
		}
	}
	
}
.project-list {
	overflow:hidden;
	
	@media @media-max-1199 {
		#site.w(100%);
	}
	
	.items {
		.mp0();
		padding-left:8px;
		display:flex;
		flex-direction:column;
		justify-content:space-between;
		align-items:stretch;
		flex-wrap:wrap;
		transform-origin:0 0;
		transition:transform @trans-speed * 2 ease;
		
		@media @media-max-1199 {
			padding-left:0px;
			flex-direction:row;
		}
		
		@media @media-max-767 {
			padding-left:0px;
			display:block;
			flex-direction:row;
		}
	}
	
	.item {
		min-height:213px;
		position:relative;
		display:flex;
		flex-direction:column;
		justify-content:center;
		padding:0 60px;
		#site.color(#ffffff);
		#site.ff('Open Sans');
		#site.brep();
		#site.bsize(cover);
		#site.bpos();
		
		@media @media-max-1199 {
			padding:0 25px;
			#site.w(33.33333333%);
		}
		
		@media @media-max-991 {
			#site.w(50%);
		}
		
		@media @media-max-767 {
			padding:0 15px 0 25px;
			min-height:280px;
			#site.w(100%);
		}
		
		&:after {
			content:'';
			position:absolute;
			top:0;
			left:0;
			#site.w(100%);
			#site.h(100%);
			#site.bg(rgba(0, 0, 0, 0.3));
			#site.z(1);
		}
		
		&:before {
			position:absolute;
			top:0;
			right:100%;
			#site.w(8px);
			#site.h(100%);
			#site.bg(#0060ff);
		}
		
		&.active {
			
			&:before {
				content:'';
				
				@media @media-max-1199 {
					content:none;
				}
			}
			&:after {
				#site.bg(rgba(1, 25, 95, 0.5));
			}
			
		}
		
		&:hover {
			&:after {
				#site.bg(rgba(1, 25, 95, 0.3));
			}
		}
		
		.type {
			position:relative;
			margin-bottom:15px;
			.calcFontSize(16, 18, 992, 1920);
			//#site.size(18px);
			#site.z(2);
		}
		
		.title {
			position:relative;
			.calcFontSize(19, 24, 992, 1920);
			//#site.size(24px);
			#site.bold(700);
			#site.z(2);
			
			@media @media-max-767 {
				#site.size(20px);
			}
		}
		
	}
	
}